MONGO_BIND_ADDRESS=127.0.0.1
MONGO_HOST_PORT=27018
MONGO_INITDB_ROOT_USERNAME=<set-mongo-admin-user>
MONGO_INITDB_ROOT_PASSWORD=<set-mongo-admin-password>
MONGO_INITDB_DATABASE=securezone

SECUREZONE_API_HOST_PORT=8080
SECUREZONE_API_HOST=0.0.0.0
SECUREZONE_API_PORT=8080
SECUREZONE_MONGO_DATABASE=securezone
SECUREZONE_MONGO_URI=mongodb://<user>:<url-encoded-password>@mongodb:27017/securezone?authSource=admin
SECUREZONE_XPROTECT_API_KEY=<generate-a-long-random-api-key>
SECUREZONE_QR_PRESENCE_MINUTES=2
