SECUREZONE_API_HOST=0.0.0.0
SECUREZONE_API_PORT=8080
SECUREZONE_MONGO_URI=mongodb://<mongo-admin-user>:<mongo-admin-password>@mongodb:27017/securezone?authSource=admin
SECUREZONE_MONGO_DATABASE=securezone
SECUREZONE_XPROTECT_API_KEY=<generate-a-long-random-api-key>
SECUREZONE_QR_PRESENCE_MINUTES=2
